extends layout

block content
  if user
    p.alert(style="margin-top: 20px;") You are logged in. Titles in grey are those not public outside the Olin community. You can edit any project you are listed as having been involved in. Believe in yourself.

  ul(id='projects')
    for project in projects
      li(class="project " + (project.large ? 'project-large' : 'project-small') + ' ' + (project.published ? 'project-public' : 'project-private'))
        h1.project-title
          a(href="/projects/" + project._id)= project.title
            // if !project.published
            //  |  
            //  span.badge.badge(style="vertical-align: middle") Unpublished
        p.project-subtitle
          if project.when
            i= project.when
            if project.creators && project.creators.length
              |  &mdash; 
          if project.creators && project.creators.length
            | #{project.summary ? project.summary.replace(/\.?$/, '.') : ''} By <b>
            != project.creators.join('</b>, <b>')
            | </b>.