extends layout

block content
  if user
    p.alert.alert-success(style="margin-top: 20px;") You are logged in. Titles in grey are those not public outside the Olin community. You can edit any project you are listed as having been involved in. Believe in yourself.
  else
    p.alert.alert-info(style="margin-top: 20px;") You are not logged in. To submit an article or see Olin-only articles, click "Login" in the header bar.

  ul(id='projects')
    for project in projects
      li(class="project " + (project.large ? 'project-large' : 'project-small') + ' ' + (project.published ? 'project-public' : 'project-private'))
        h1.project-title
          a(href="/projects/" + project._id)= project.title
            if (project.videos || []).length
              |  
              span.badge(style="vertical-align: middle") Video
            // if !project.published
            //  |  
            //  span.badge.badge(style="vertical-align: middle") Unpublished
        p.project-subtitle
          if project.when
            i= project.when
            if project.creators && project.creators.length || project.summary
              |  &mdash; 
          | #{project.summary ? project.summary.replace(/\.?$/, '.') : ''}
          if project.creators && project.creators.length
            |  By <b>
            != project.creators.join('</b>, <b>')
            | </b>.