extends layout

block content
  p.alert(style='margin: 10px 0 25px;')
    span.btn.btn-info.btn-mini(style="float: right", onclick='_t = $(\'.span3 a\'); _t = _t[(Math.random()*_t.length)|0].href; window.location.href = _t') Randomize!
    | The personal websites and online portfolios of Olin College students.

  style
    .students { text-align: center; font-size: 16px;}
    .students a { padding: 10px 0; display: block; font-weight: bold; }
    .students a:hover { background: #fff; }

  h4 Students in 2013
  .row-fluid.students
    .span3
      a(href='http://ibeitia.com') Iñigo Beitia
    .span3
      a(href='http://jezzpaul.com') Paul Booth
    .span3
      a(href='http://ericadchin.weebly.com') Erica Chin
    .span3
      a(href='http://reyner.be') Reyner Crosby
  .row-fluid.students
    .span3
      a(href='http://www.andreacuadra.com') Andrea Cuadra
    .span3
      a(href='http://mollyfarison.com') Molly Farison
    .span3
      a(href='http://freedavid.info') David Gaynor
    .span3
      a(href='HTTP://AARONJGREENBERG.COM') Aaron Greenberg
  .row-fluid.students
    .span3
      a(href='http://www.drewheine.com') Andrew Heine
    .span3
      a(href='http://michaelheyns.com') Michael Heyns
    .span3
      a(href='http://jialiyahuang.com/') Jialiya Huang
    .span3
      a(href='http://www.ercjns.com') Eric Jones
  .row-fluid.students
    .span3
      a(href='http://aiswaryakolisetty.com') Aiswarya Kolisetty
    .span3
      a(href='http://caseylandey.com') Casey Landey
    .span3
      a(href='http://jenny-ma.weebly.com') Jenny Ma
    .span3
      a(href='http://jonamckay.com') Jon McKay
  .row-fluid.students
    .span3
      a(href='http://students.olin.edu/2013/rmcmullen') Robert McMullen
    .span3
      a(href='http://timryan.org') Tim Ryan
    .span3
      a(href='http://www.samsyang.com') Sam Yang

  h4 Students in 2014
  .row-fluid.students
    .span3
      a(href='http://jceipek.com') Julian Ceipek
    .span3
      a(href='http://itdaniher.com') Ian Daniher
    .span3
      a(href='http://www.markmuraoka.com') Mark Muraoka
    .span3
      a(href='http://juliana.io') Juliana Nazare
  .row-fluid.students
    .span3
      a(href='http://roboticmayhem.com') Nick Ostrom
    .span3
      a(href='http://about.me/brettrowley') Brett Rowley
    .span3
      a(href='http://dantesantos.com/') Dante Santos
    .span3
      a(href='http://weeprojects.weebly.com') Adela Wee

  h4 Students in 2015
  .row-fluid.students
    .span3
      a(href='http://nickeyre.com') Nick Eyre
    .span3
      a(href='http://www.alecradford.com/') Alec Radford
    .span3
      a(href='http://www.flickr.com/photos/franz_eric_schneider_portfolios') Eric Schneider
    .span3
      a(href='http://evansimpson.com') Evan Simpson
  .row-fluid.students
    .span3
      a(href='http://jessica.sutantio.com') Jessica Sutantio

  h4 Students in 2016
  .row-fluid.students
    .span3
      a(href='http://madison.olinstudents.com') Madison May
    .span3
      a(href='http://williamsaulnier.com') William Saulnier

  hr
    
  p
    small
      | Contact
      a(href='mailto:timothy.ryan@students.olin.edu') Tim Ryan 2013
      | for free hosting or a
      i name
      | .olinstudents.com domain.
