doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/script.js')
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
    script(src="http://fitvidsjs.com/js/jquery.fitvids.js")
    link(href="http://harvesthq.github.io/chosen/chosen/chosen.css", rel="stylesheet")
    script(src="http://harvesthq.github.io/chosen/chosen/chosen.jquery.js")

    style
      #brand { background: #333; padding: 10px 15px; margin: 0; }
      #name { font-weight: bold; color: #ccc; font-size: 18px; }
      #brand .btn { float: right; }
      
      @media (max-width: 767px) {
        body { padding: 0;}
        #content { padding: 0 20px; }
      }

      #content { max-width: 800px; margin-left: auto; margin-right: auto; }

      #projects, #projects > li { display: block; margin: 0; padding: 0; }
      #projects > li { background: white; margin-bottom: 50px; }

      .project-title { margin: 40px 0 20px; font-size: 50px; }
      .project-small .project-title { font-size: 30px; margin-top: 25px; margin-bottom: 5px; }
      .project-link { border: 2px solid #afa; margin: 10px 0; padding: 10px 20px 0; }
      .project-link:hover { background: #cfc; cursor: pointer; }

      .project-subtitle { margin-top: -5px; font-size: 16px; color: #666; margin-bottom: 25px;}

      .project-video { outline: 1px solid #aaa; background: #ccc; }
      .project-video iframe { display: block; margin-left: auto; margin-right: auto; }
      .project-video, .project-video iframe { max-height: 450px; overflow: hidden; }

      .project-images { overflow: auto; }
      .project-image { height: 150px; text-align: center; outline: 1px solid #aaa; background: #ccc; margin-top: 10px; display: block; }


      @media (min-width: 300px) {
        width: 150px; 
        margin-right: 10px; float: left; 
      }

      .project-body { padding: 0 20px; }
      .project-body p { font-family: "Open Sans", Helvetica, Arial, sans-serif; }
      .project-body { margin: 25px 0 15px; font-size: 16px; line-height: 1.5; }
      .project-body h2 { margin-top: 25px; }

      .project-footer { font-size: 12px; border-top: 1px solid #ddd; padding-top: 5px; color: #888;
      margin: 30px 0 40px; }

    script
      $(function () {
        $('.project-link').on('click', function (e) {
          window.location.href = $(this).find('a').prop('href');
        })
        $(".project-video").fitVids();
        $(".chzn-select").chosen();
      })

  body
    #brand.container-fluid
      a#name(href="/")= title
      |  
      a.btn.btn-success.btn-mini(href="/projects/?edit") List your Project or Idea

    #content.container-fluid
      block content